# Google Generative AI API
google-generativeai~=0.8.3

# For handling PDF files
pypdf2~=3.0.1
reportlab~=4.2.5

# For handling DOCX files
python-docx~=0.8.11

# For reading config.yaml
PyYAML~=6.0.2

